.passwordSection > input{
    padding: 0.5rem;
    border-radius: 0.2rem;
    outline: none;
    border: 1px solid gray;
    margin: 1rem 0rem;
}

.confirmPasswordSection > input{
    padding: 0.5rem;
    border-radius: 0.2rem;
    outline: none;
    border: 1px solid gray;
    margin: 1rem 0rem;
}