*{
  margin: 0;
}

.form{
  display: inline-block;
  margin: 1rem;
  padding: 1rem;
  width: 40%;
}

.container{
  text-align: center;
}

.submitBtn{
  text-align: left;
}

.submit{
  width: 30%;
  padding: 0.5rem;
  border-radius: 0.2rem;
  outline: none;
  border: 1px solid gray;
}

.inputField{
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
}

.inputField > .space{
  flex: 0.2;
}

.travelBtn{
  padding: 0.6rem;
  outline: none;
  border: 1px solid gray;
  margin: 0.5rem;
}

